<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head lang="en">
<title>auth Demo</title>
</head>
<body>

	<div class="container" id="page-wrapper" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div>
						<p class="bg-info">获取到的（刷新）授权公众号的接口调用凭据（令牌）</p>
						<textarea class="form-control" rows="8" name="authInfo"
							th:text="${authInfo}"></textarea>
					</div>
					<div>
						<p class="bg-info">获取授权方的公众号帐号基本信息</p>
						<textarea class="form-control" rows="8" name="authorizeInfo"
							th:text="${authorizeInfo}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>