<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head lang="en">

<title>我的公众号</title>
</head>
<body>
	<div id="page-wrapper" layout:fragment="content">
		<div class="container">
			<div th:if="${not #lists.isEmpty(user.appsSet)}">
				<h2>APP List</h2>
				<table class="table table-striped">
					<tr>
						<th>Id</th>
						<th>accessToken</th>
						<th>expriesIn</th>
						<th>refreshToken</th>
						<th>View</th>
						<th>Edit</th>
					</tr>
					<tr th:each="app : ${user.appsSet}">
						<td th:text="${app.appId}"><a href="/myapp/${app.appId}">Id</a></td>
						<td th:text="${app.accessToken}">accessToken</td>
						<td th:text="${app.expriesIn}">expriesIn</td>
						<td th:text="${app.refreshToken}">refreshToken</td>
						<td><a th:href="${ '/myapp/' + app.appId}">View</a></td>
						<td><a th:href="${'/myapp/edit/' + app.appId}">Edit</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>