<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<title>微信平台测试DEMO</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script
	src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
  <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
  <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
  <script src="../../resources/metisMenu/dist/metisMenu.min.js" th:src="@{/resources/metisMenu/dist/metisMenu.min.js}"></script>
	
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../resources/metisMenu/dist/metisMenu.css" th:href="@{/resources/metisMenu/dist/metisMenu.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../resources/font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" />
</head>
<body>
</body>
</html>